<div class="header">Скважина с ШГН(штанговым глубинным насосом) №{{pumpNumber}}
    <div>
        <button mat-raised-button *ngIf="!pumpState" (click)="pumpOn()">Вкл насос</button>
        <button mat-raised-button *ngIf="pumpState" (click)="pumpOff()">Выкл насос</button>
        <button mat-raised-button (click)="getData()">Показатели</button>

        <button mat-raised-button *ngIf="!connectState" (click)="connectionOn()">Выкл связь</button>
        <button mat-raised-button *ngIf="connectState" (click)="connectionOff()">Вкл связь</button> 
    </div>
</div>

<div class="date-choose__container">
    <span>Фильтр по датам</span>
    <div class="date-choose__content">
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Дата начала" [(ngModel)]="startDate">
            <input matEndDate placeholder="Дата конца" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </div>
    <button mat-raised-button (click)="getDateIndicators()">Показать данные</button>
</div>
<div class="charts-container">
    <app-liquid-chart [indicators]="indicators"></app-liquid-chart>
    <app-balance-chart [indicators]="indicators"></app-balance-chart>
    <app-force-chart [indicators]="indicators"></app-force-chart>
    <app-power-chart [indicators]="indicators"></app-power-chart>
    <app-onblock-chart [indicators]="indicators"></app-onblock-chart>
    <app-overload-chart [indicators]="indicators"></app-overload-chart>
    <app-underload-chart [indicators]="indicators"></app-underload-chart>
    <app-pressure-chart [indicators]="indicators"></app-pressure-chart>
    <app-voltage-chart [indicators]="indicators"></app-voltage-chart>
</div>