.charts-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.header{
    font-size: 22pt;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        padding: 10px 5px;
        border: 4px double black; /* Параметры границы */
        //background: rgb(170, 235, 242); /* Цвет фона */
    }
}
button{
    margin-left:20px;
    background-color: bisque;
}
.date-choose__container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin:0 auto;
    justify-content: center;
    text-align: center;
    margin-top:20px;
}
.date-choose__content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
