.pump-container{
    display: flex;
    justify-content: left;
    align-items: left;
    // width: 90%;
    // height: 80px;
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 10px;
    background-color: rgb(49, 37, 33);
}
.arr {
    display: inline-block;
    margin: 10px 10px;
    width: 30px;
    height: 30px;
    border: 4px solid;
    border-radius: 50%;
    text-align: center;
  }
  
  .arr:after {
    content: '';
    display: inline-block;
    padding-top: 0px;
    margin-left: -3px;
    width: 10px;
    height: 10px;
    border-top: 4px solid;
    border-right: 4px solid;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }