<button mat-raised-button color="primary" class="pump-container" [routerLink]="['pump',pump.id]">
    <span>Управлять работой штонгового глубинного насоса №{{pump.id}}</span>
    <span class="arr"></span>
</button>