<div class="main-page__header">
    <span>Автоматизированная система управления
        технологическим процессом (АСУ ТП) цеха добычи нефти и газа (ЦДНГ)</span>
</div>

<div class="main-page__container">
    <app-pumps *ngFor="let pump of pumps" [pump]="pump"></app-pumps>
</div>