.main-page__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    //height: 100%;
    //overflow:hidden;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top:30px;
}
.main-page__header{
    width: 50%;
    display: flex;
    justify-content: left;
    font-size: 20pt;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    font-style: italic;
    span {
        padding: 0 2%;
        margin: 0 3%;
        line-height: 30pt;
        text-align: left;
        // border: 4px double black; /* Параметры границы */
        // background: rgb(170, 235, 242); /* Цвет фона */
    }
    
}
